<%= form_for(@sms) do |f| %>
  <% if @sms.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sms.errors.count, "error") %> prohibited this sms from being saved:</h2>

      <ul>
      <% @sms.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :customer_id %>
    <div class="field">
     <%= f.label :customer %><br>
     <%= @customer.name %>
    </div>
    <div class="field">
     <%= f.label :name %><br>
     <%= f.text_field :name %>
    </div>
    <div class="field">
     <%= f.label :to_deliver %><br>
     <%= f.text_field :to_deliver %>
    </div>
    <div class="field">
     <%= f.label :repeat %><br>
     <%= f.text_field :repeat %>
    </div>
    <div class="field">
     <%= f.label :body %><br>
     <%= f.text_area :body, :cols => 20, :rows => 10 %>
    </div>
    <div class="actions">
     <%= f.submit %>
    </div>
<% end %>
